In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder
import pickle

In [2]:
df=pd.read_csv('Churn_Modelling.csv')

In [3]:
df.sample(10)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
8437,8438,15591428,Myers,781,France,Male,29,9,0.00,2,0,0,172097.40,0
3245,3246,15768151,Romano,514,Germany,Female,45,3,109032.23,1,0,1,155407.21,1
1894,1895,15783398,Rizzo,535,Spain,Female,49,7,115309.75,1,1,0,111421.77,0
7249,7250,15745804,Law,628,France,Male,25,7,0.00,2,1,1,195977.75,0
2254,2255,15585533,Calabrese,679,France,Male,36,6,147733.64,1,0,1,172501.38,0
110,111,15803526,Eremenko,685,Germany,Male,30,3,90536.81,1,0,1,63082.88,0
4754,4755,15595592,Lai,708,France,Female,59,2,0.00,1,1,0,179673.11,1
9977,9978,15579969,Mancini,683,France,Female,32,9,0.00,2,1,1,24991.92,0
9250,9251,15607330,Vasilyev,713,Spain,Male,42,0,109121.71,1,0,1,167873.49,0
555,556,15775318,Lu,590,Spain,Female,51,3,154962.99,3,0,1,191932.27,1

In [4]:
df=df.drop(['RowNumber','Surname','CustomerId'],axis=1)

In [5]:
df.sample(10)

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
5439,713,Germany,Female,61,4,149525.34,2,1,0,123663.63,0
115,628,Germany,Female,30,9,132351.29,2,1,1,74169.13,0
7276,594,France,Male,35,2,133853.27,1,1,1,65361.66,0
9219,499,France,Male,31,4,0.00,1,1,0,25950.49,0
6951,658,France,Male,42,8,102870.93,1,0,1,103764.55,1
3007,602,France,Male,33,5,164704.38,1,0,1,180716.10,1
2771,714,Germany,Male,28,7,77776.39,1,1,0,177737.07,0
3381,738,France,Male,49,6,106770.82,1,1,0,123499.27,0
1490,797,Spain,Female,31,8,0.00,2,1,0,117916.63,0
3738,498,Germany,Female,44,2,120702.67,2,1,1,98175.74,0

In [6]:
label_encoder_gender=LabelEncoder()
df['Gender']=label_encoder_gender.fit_transform(df['Gender'])

In [7]:
df.head(12)

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
5,645,Spain,1,44,8,113755.78,2,1,0,149756.71,1
6,822,France,1,50,7,0.00,2,1,1,10062.80,0
7,376,Germany,0,29,4,115046.74,4,1,0,119346.88,1
8,501,France,1,44,4,142051.07,2,0,1,74940.50,0
9,684,France,1,27,2,134603.88,1,1,1,71725.73,0
10,528,France,1,31,6,102016.72,2,0,0,80181.12,0
11,497,Spain,1,24,3,0.00,2,1,0,76390.01,0

In [8]:
from sklearn.preprocessing import OneHotEncoder
one_hot_encoder_geo=OneHotEncoder()
geo_encoder=one_hot_encoder_geo.fit_transform(df[['Geography']])

In [9]:
geo_encoder

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 10000 stored elements and shape (10000, 3)>

In [10]:
one_hot_encoder_geo.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [11]:
one_hot_encoder_geo=OneHotEncoder()
geo_encoder=one_hot_encoder_geo.fit_transform(df[['Geography']]).toarray()
geo_encoder

array([[1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       ...,
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.]])

In [12]:
encoded_df=pd.DataFrame(geo_encoder,columns=one_hot_encoder_geo.get_feature_names_out(['Geography']))

In [13]:
encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [14]:
df=pd.concat([df.drop('Geography',axis=1),encoded_df],axis=1)

In [15]:
df.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [16]:
## now we are saving the encoded data and scaler
with open('label_encoder_gender.pkl','wb') as file:
    pickle.dump(label_encoder_gender,file)
with open('one_hot_encoder_geo.pkl','wb') as file:
    pickle.dump(one_hot_encoder_geo,file) # got error here

In [17]:
df.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CreditScore        10000 non-null  int64
 1   Gender             10000 non-null  int32
 2   Age                10000 non-null  int64
 3   Tenure             10000 non-null  int64
 4   Balance            10000 non-null  float64
 5   NumOfProducts      10000 non-null  int64
 6   HasCrCard          10000 non-null  int64
 7   IsActiveMember     10000 non-null  int64
 8   EstimatedSalary    10000 non-null  float64
 9   Exited             10000 non-null  int64
 10  Geography_France   10000 non-null  float64
 11  Geography_Germany  10000 non-null  float64
 12  Geography_Spain    10000 non-null  float64
dtypes: float64(5), int32(1), int64(7)
memory usage: 976.7 KB

In [19]:
## Now we are spliting the data in to X and y
X=df.drop('Exited',axis=1)
y=df['Exited']

In [20]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [21]:
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [22]:
X_train

array([[ 0.35649971,  0.91324755, -0.6557859 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [-0.20389777,  0.91324755,  0.29493847, ..., -0.99850112,
         1.72572313, -0.57638802],
       [-0.96147213,  0.91324755, -1.41636539, ..., -0.99850112,
        -0.57946723,  1.73494238],
       ...,
       [ 0.86500853, -1.09499335, -0.08535128, ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.15932282,  0.91324755,  0.3900109 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.47065475,  0.91324755,  1.15059039, ..., -0.99850112,
         1.72572313, -0.57638802]])

In [23]:
with open('scaler.pkl','wb') as file:
    pickle.dump(scaler,file)

## ANN Implimentation

In [24]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

WARNING:tensorflow:From c:\Users\nevha\Downloads\test_ann\tf215_env\lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [25]:
X_train.shape[1]

12

In [26]:
X_train.shape[0]

8000

In [27]:
# Now we are Building our Ann model -Sequential model will going dense layers
model=Sequential([
    Dense(64,activation='relu', input_shape=(X_train.shape[1],)),
    Dense(32,activation='relu'),
    Dense(1,activation='sigmoid')
])

WARNING:tensorflow:From c:\Users\nevha\Downloads\test_ann\tf215_env\lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

In [28]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [29]:
opt=tf.keras.optimizers.Adam(learning_rate=0.01)
loss=tf.keras.losses.BinaryCrossentropy()

In [30]:
loss

In [31]:
# model compling - This is for forward and backpropagation
model.compile(optimizer=opt,loss='binary_crossentropy',metrics=['accuracy'])

In [32]:
log_dir="logs/fit/" + datetime.datetime.now().strftime('%Y%m%d-%H%M%S')
tensorflow_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)

In [33]:
early_stopping_callback=EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [34]:
history=model.fit(
    X_train,y_train,validation_data=(X_test,y_test),epochs=100,
    callbacks=[tensorflow_callback,early_stopping_callback]
)

Epoch 1/100
WARNING:tensorflow:From c:\Users\nevha\Downloads\test_ann\tf215_env\lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From c:\Users\nevha\Downloads\test_ann\tf215_env\lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

250/250 [==============================] - 1s 3ms/step - loss: 0.4016 - accuracy: 0.8322 - val_loss: 0.3502 - val_accuracy: 0.8555
Epoch 2/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3585 - accuracy: 0.8500 - val_loss: 0.3444 - val_accuracy: 0.8630
Epoch 3/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3483 - accuracy: 0.8571 - val_loss: 0.3555 - val_accuracy: 0.8525
Epoch 4/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3456 - accuracy: 0.8597 - val_loss: 0.3619 - val_accuracy: 0.8545
Epoch 5/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3406 - accuracy: 0.8619 - val_loss: 0.3565 - val_accuracy: 0.8530
Epoch 6/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3404 - accuracy: 0.8587 - val_loss: 0.3562 - val_accuracy: 0.8585
Epoch 7/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3359 - accuracy: 0.8637 - val_loss: 0.3575 - val_accuracy: 0.8515
Epoch 8/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3351 - accuracy: 0.8629 - val_loss: 0.3463 - val_accuracy: 0.8600
Epoch 9/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3325 - accuracy: 0.8634 - val_loss: 0.3412 - val_accuracy: 0.8640
Epoch 10/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3296 - accuracy: 0.8655 - val_loss: 0.3447 - val_accuracy: 0.8575
Epoch 11/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3290 - accuracy: 0.8674 - val_loss: 0.3517 - val_accuracy: 0.8560
Epoch 12/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3280 - accuracy: 0.8645 - val_loss: 0.3550 - val_accuracy: 0.8475
Epoch 13/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3258 - accuracy: 0.8681 - val_loss: 0.3492 - val_accuracy: 0.8570
Epoch 14/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3222 - accuracy: 0.8666 - val_loss: 0.3491 - val_accuracy: 0.8525
Epoch 15/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3207 - accuracy: 0.8686 - val_loss: 0.3471 - val_accuracy: 0.8605
Epoch 16/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3189 - accuracy: 0.8709 - val_loss: 0.3531 - val_accuracy: 0.8605
Epoch 17/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3143 - accuracy: 0.8710 - val_loss: 0.3625 - val_accuracy: 0.8580
Epoch 18/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3159 - accuracy: 0.8695 - val_loss: 0.3689 - val_accuracy: 0.8510
Epoch 19/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3113 - accuracy: 0.8733 - val_loss: 0.3580 - val_accuracy: 0.8570

In [35]:
inputs = tf.keras.Input(shape=(12,))
model.save("model_tf215.h5")

c:\Users\nevha\Downloads\test_ann\tf215_env\lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

In [36]:
# load tensorboard
%load_ext tensorboard

In [37]:
%tensorboard --logdir logs/fit/20260206-113249

Reusing TensorBoard on port 6006 (pid 24608), started 17:45:09 ago. (Use '!kill 24608' to kill it.)